<?xml version="1.0"?>
<config>
    <modules>
        <Convertware_Adzones>
            <version>0.1.1</version>
        </Convertware_Adzones>
    </modules>
    <frontend>
        <layout>
            <updates>
                <adzones>
                    <file>adzones.xml</file>
                </adzones>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<adzones>
				<use>admin</use>
				<args>
					<module>Convertware_Adzones</module>
					<frontName>adzones</frontName>
				</args>
			</adzones>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<convertware module="adzones">
				<title>Convertware</title>
				<sort_order>71</sort_order>               
				<children>
					<adzones module="adzones">
						<title>Manage Ad-Zones</title>
						<sort_order>0</sort_order>
						<action>adzones/adminhtml_adzones</action>
					</adzones>
				</children>
			</convertware>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <convertware_options>
                                            <title>Convertware Settings</title>
                                        </convertware_options>
                                    </children>
                                </config>
                            </children>
                        </system>
						<Convertware_Adzones>
							<title>Manage Adzones</title>
							<sort_order>10</sort_order>
						</Convertware_Adzones>
                    </children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<adzones>
					<file>adzones.xml</file>
				</adzones>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <adzones>
                <class>Convertware_Adzones_Model</class>
                <resourceModel>adzones_mysql4</resourceModel>
            </adzones>
            <adzones_mysql4>
                <class>Convertware_Adzones_Model_Mysql4</class>
                <entities>
                    <adzones>
                        <table>adzones_genral</table>
                    </adzones>
					<adzonesContent>
                        <table>adzones_content</table>
                    </adzonesContent>
					<api>
                        <table>adzones_api</table>
                    </api>
                </entities>
            </adzones_mysql4>
        </models>
        <resources>
            <adzones_setup>
                <setup>
                    <module>Convertware_Adzones</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </adzones_setup>
            <adzones_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </adzones_write>
            <adzones_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </adzones_read>
        </resources>
        <blocks>
            <adzones>
                <class>Convertware_Adzones_Block</class>
            </adzones>
        </blocks>
        <helpers>
            <adzones>
                <class>Convertware_Adzones_Helper</class>
            </adzones>
        </helpers>
    </global>
	<crontab>
        	<jobs>
            		<adzones_api>
                		<schedule><cron_expr>0 0 * * *</cron_expr></schedule>
                		<run><model>adzones/api::getApi</model></run>
            		</adzones_api>
        	</jobs>
	</crontab>
</config>
