<?xml version="1.0"?>
<config>
    <modules>
        <Convertware_Personalization>
            <version>0.1.4</version>
        </Convertware_Personalization>
    </modules>
    <frontend>
		<events>
			 <controller_action_predispatch>
                <observers>
                    <controller_action_before>
                        <class>personalization/observer</class>
                        <method>actionPreDispatch</method>
                    </controller_action_before>
                </observers>
            </controller_action_predispatch>
			<checkout_onepage_controller_success_action>
                <observers>
                    <convertware_personalization_sales>
                        <class>personalization/observer</class>
                        <method>saveOrderAfter</method>
                    </convertware_personalization_sales>
                </observers>
            </checkout_onepage_controller_success_action>
		</events>
    </frontend>
    <admin>
        <routers>
			<personalization>
				<use>admin</use>
				<args>
					<module>Convertware_Personalization</module>
					<frontName>personalization</frontName>
				</args>
			</personalization>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<convertware module="personalization">
				<children>
					<personalization module="personalization">
						<title>Manage Personalization</title>
						<sort_order>1</sort_order>
						<action>personalization/adminhtml_personalization/personalization</action>
					</personalization>
				</children>
			</convertware>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Convertware_Personalization>
							<title>Manage Personalization</title>
							<sort_order>10</sort_order>
						</Convertware_Personalization>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<personalization>
					<file>personalization.xml</file>
				</personalization>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <personalization>
                <class>Convertware_Personalization_Model</class>
                <resourceModel>personalization_mysql4</resourceModel>
            </personalization>
            <personalization_mysql4>
                <class>Convertware_Personalization_Model_Mysql4</class>
                <entities>
                    <personalization>
                        <table>personalization</table>
                    </personalization>
					<overview>
                        <table>personalization_overview</table>
                    </overview>
					<personalizationVisit>
                        <table>personalization_visit</table>
                    </personalizationVisit>
					<personalizationVisitor>
                        <table>personalization_visitors</table>
                    </personalizationVisitor>
					<abtest>
                        <table>personalization_abtesting</table>
                    </abtest>
					<personalizationUrl>
                        <table>personalization_url_info</table>
                    </personalizationUrl>
                </entities>
            </personalization_mysql4>
        </models>
        <resources>
            <personalization_setup>
                <setup>
                    <module>Convertware_Personalization</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </personalization_setup>
            <personalization_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </personalization_write>
            <personalization_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </personalization_read>
        </resources>
        <blocks>
            <personalization>
                <class>Convertware_Personalization_Block</class>
            </personalization>
        </blocks>
        <helpers>
            <personalization>
                <class>Convertware_Personalization_Helper</class>
            </personalization>
        </helpers>
		
    </global>
	<crontab>
        	<jobs>
            		<personalization_overview>
                		<schedule><cron_expr>0,10,20,30,40,50 * * * *</cron_expr></schedule>
                		<run><model>personalization/overview::setOverview</model></run>
            		</personalization_overview>
        	</jobs>
	</crontab>
	<crontab>
        	<jobs>
            		<personalization_abtest>
                		<schedule><cron_expr>0,10,20,30,40,50 * * * *</cron_expr></schedule>
                		<run><model>personalization/abtest::setTestResult</model></run>
            		</personalization_abtest>
        	</jobs>
	</crontab>
</config>

